@import '../../sass/global.scss';

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.6);
	padding-bottom: 5rem;
	z-index: 1200;
}

.modal {
	@extend .panel;

	max-height: 90%;
	overflow: auto;
	width: 85rem;
	margin: 3rem auto;
	background-color: #fff;
	position: relative;
	z-index: 1300;

	h1 {
		font-size: 3rem;
	}

	padding-bottom: 2rem;
}

.body {
	overflow: hidden;	
}
