@import '../../sass/global.scss';

.location, .map {
	height: 320px;
	margin-bottom: 2rem;
}

.locations {
	table {
		margin-top: 2rem;

		th:first-child, td:first-child {
			padding: 12px 15px;
		}

		tr {
			&.active {
				border-right: 3px solid #33C3F0;
				border-left: 3px solid #33C3F0;
			}

			border-right: 3px solid transparent;
			border-left: 3px solid transparent;
		}
	}
}

.add {

}

.addLocation {

	.modes {

		.mode {
			@extend .label;
			cursor: pointer;
			margin-right: 1rem;
		}

		.active {
			@extend .mode;
			background-color: #eee;
		}

		margin-bottom: 2rem;
	}

}

.step {
	button {
		margin-right: 2rem;
	}
	input[type="submit"] {
		margin-right: 2rem;
	}
}
