.label {
	border: 1px solid #d1d1d1;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	border-radius: 4px;
	font-size: 1rem;
	text-transform: uppercase;
	height: 30px;
	line-height: 30px;
	margin-bottom: 1.5rem;
	font-weight: 600;
	letter-spacing: .1rem;
	padding: 0.4rem 1.2rem;
	cursor: default;
}

.panel {
	margin: 0 .2rem;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
	padding: 2.5rem 3rem;
	-webkit-font-smoothing: antialiased;
	background: #fff;
}
