
.tran-color {
	-webkit-transition: color 400ms linear;
	-moz-transition: color 400ms linear;
	-o-transition: color 400ms linear;
	-ms-transition: color 400ms linear;
	transition: color 400ms linear;
}
