@import '../../sass/transitions.scss';

.bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 5rem;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	z-index: 1100;

	padding: 0 2rem;

	h1 {

		small {
			font-size: 1.4rem;
			position: relative;
			top: -10px;
		}


		font-size: 3rem;
		line-height: 5rem;

		display: inline-block;
	}

	ul {
		display: inline-block;
		float: right;
		list-style-type: none;
		line-height: 5rem;
		margin-right: 2rem;

		li {
			float: left;
			display: block;
			margin-right: 2rem;

			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.wrapper {
	padding-top: 7rem;
	padding-bottom: 7rem;
}

.options {
	display: inline-block;
	float: right;

	height: 5rem;
	padding-left: 2rem;

	border-left: 1px solid #e1e1e1;

	.menu {
		width: 2.5rem;
		height: 2.5rem;
		margin-top: 1.8rem;

		cursor: pointer;

		span {
			display: block;
			border-radius: 4px;
			width: 2.5rem;
			content: '';
			border: 1px solid #e1e1e1;
			margin-bottom: 4px;

		}

		&:hover span {
			border: 1px solid #333;
			
		}

		span:last-child {
			margin-bottom: 0;
		}
	}
}
