@import '../../sass/transitions.scss';

.bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 5rem;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	z-index: 10;


	h1 {
		@extend .tran-color;

		&:hover {
			color: #eee;
		}

		a {
			text-decoration: none;
			font-weight: 300;
			color: #555;
		}

		cursor: pointer;

		font-size: 3rem;
		line-height: 5rem;
		margin-left: 0.6rem;

		width: 3rem;

		display: inline;
	}

	ul {
		display: inline;
		list-style-type: none;
		line-height: 5rem;
		margin-right: 0.6rem;
		position: fixed;
		right: 0;
		li {
			float: left;
			display: block;
			margin-right: 2rem;

			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.wrapper {
	padding-top: 7rem;
}
